@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-plus-jakarta: "Plus Jakarta Sans";
  --font-ABeeZee: "ABeeZee";
  --font-Abel: "Abel";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta), Arial, Helvetica, sans-serif;
}
